/***********Header*********/

/********Black Line*********/
.header-black-line{
    display: flex;
    justify-content: flex-end;
    height: 40px;
    color: #909090;
    background-color: black;
    word-spacing: 10px;
    padding-right: 100px;
    align-items: center;
}

.black-line-p{
    font-size: 14px;
    margin-left: 10px;
}

#human{
    height: 21px;
    margin-left: 10px;
}

#flag{
    height: 14px;
    margin-left: 10px;
}

#arrow{
    height: 14px;
    margin-left: 10px;
}


/*****************Header Rest**********/
.WKND-logo{
    font-family: 'Bebas Neue';
    font-size: 48px;
    font-weight: bold;
}

.header{
    padding-top: 10vh;
    padding-bottom: 10vh;
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    justify-content: space-between;
}

.header-right-cont{
    display: flex;
    justify-content: space-between;
    width: 710px;
}

header ul{
    width: 440px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10vh;
}

.search-bar{
    width: 30vh;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#EBEBEB;
    border:1px solid #95989A;
    padding-left: 1vh;
    padding-right: 1vh;
}

.search-bar p{
    opacity: 50%;
}


/********** FAQ Main Page***********/

.FAQ{
    width: 90%;
    margin:0 auto;
    display: flex;
    justify-content: center;
}

.FAQ-logo{
    font-size: 40px;
    font-family: "source seryf pro";
    margin-bottom: 30px;
}

.page-cont{
    width: 716px;
}
.image-txt{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 716px;
    font-family: 'source sans pro';
    font-size: 20px;
    line-height: 30px;
}

.pull-down-row{
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

#minus-sign{
    height: 2px;
}

#row-txt{
    font-size: 14px;
    font-family: 'source sans pro';
    line-height: 25px;
    margin-bottom: 25px;

}

.closed-row{
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #EBEBEB;
    border-top: 1px solid #EBEBEB;
}

.credentials-cont{
    width: 256px;
    margin-top: 30px;
    margin-left: 200px;
}

.credential-header{
    font-size: 24px;
    font-family: 'Source Serif Pro';
    margin-bottom: 50px;
}

.credentials-txt{
    width: 256px;
    line-height: 30px;
    font-size: 14px;
    margin-top: 50px;
}

/***********Lower FAQ**********/
.FAQ-lower{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.line{
    margin: 0 auto;
    height: 2px;
    width: 1184px;
    background-color: #EBEBEB;
    margin-top: 50px;
    margin-bottom: 50px;
}

.lower-cont{
    margin: 0 auto;
    width: 1084px;
    display: flex;
    background-color: #F7F7F7;
}

.lower-header{
    font-size: 40px;
    margin-top: 30px;
}

.lower-small-p{
    font-size:14px;
    margin-top: 25px;
}

#email{
    width: 236px;
    height: 48px;
    background-color: #EBEBEB;
    opacity: 50%;
    padding-left: 10px;
    margin-top: 25px;
    border: none;
}

#lower-img{
    margin-right: 30px;
}

.sign-up-btn{
    background-color: black;
    color: white;
    width: 133px;
    height: 48px;
    font-size: 14px;
}

/*****************Footer************/
footer{
    background-color: black;
    height: 234px;
}
.white{
    color:white;
}

.footer-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    padding-top: 50px;
    margin-top: 100px;
}

footer ul{
    color: white;
    display: flex;
    justify-content: space-between;
    width: 440px;
}

.footer-right-cont{
    display: flex;
    justify-content: space-between;
    width: 700px;
    align-items: center;
}

.logo-cont{
    width: 144px;
    height: 48px;
    background-color: #EBEBEB;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.copyright{
    color: #909090;
    margin-left: 100px;
    margin-top: 50px;
}



/***************About US*********************/
.about-us{
    width: 85%;
    margin: 0 auto;
}

.black{
    background-color: black;
}

.About-logo{
    font-size: 40px;
    font-family: "source seryf pro";
    margin-bottom: 40px;
    display: table;
    width: 286px;  
    margin-top: 50px;
}

.About-logo:after {
    border-bottom: 2px solid #FFE900;
    content: '';
    display: block;
    width: 50%;
    padding-bottom: 20px;
  }

.portrai{
    border-radius: 50%;
}

.name-p{
    margin-top: 20px;
    font-size: 24px;
    font-family: 'Source Serife Pro';
}

.profession-p{
    font-size: 10px;
    font-weight: 400;
    color: #909090;
    /* word-spacing: 5px; */
    width: 126px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.portrait-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:50px;
    margin-right: 100px;
    width: 177px;
    height: 333px;

}

.big-cont{
    display: flex;
    justify-content: ;
}

.first{
    margin-left: 50px;
}


/**************Hover***********/
header li:hover{
    background-color: #FFE900;
    padding: 10px;
}